In [1]:
import pandas as pd
df = pd.read_csv('content/SampleFile.csv')
print(df.head())

   LotArea  MSSubClass
0     8450          60
1     9600          20
2    11250          60
3     9550          70
4    14260          60

In [2]:
df.shape

(1460, 2)

In [3]:
df.describe()

             LotArea   MSSubClass
count    1460.000000  1460.000000
mean    10516.828082    56.897260
std      9981.264932    42.300571
min      1300.000000    20.000000
25%      7553.500000    20.000000
50%      9478.500000    50.000000
75%     11601.500000    70.000000
max    215245.000000   190.000000

In [5]:
import numpy as np
max_vals = np.max(np.abs(df))
max_vals

np.int64(215245)

In [6]:
(df/max_vals).describe()

           LotArea   MSSubClass
count  1460.000000  1460.000000
mean      0.048860     0.000264
std       0.046372     0.000197
min       0.006040     0.000093
25%       0.035093     0.000093
50%       0.044036     0.000232
75%       0.053899     0.000325
max       1.000000     0.000883

In [12]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0,1))
scaled_data = scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaled_data, 
                         columns = df.columns)
scaled_df.head()

    LotArea  MSSubClass
0  0.033420    0.235294
1  0.038795    0.000000
2  0.046507    0.235294
3  0.038561    0.294118
4  0.060576    0.235294

In [13]:
df.head()

   LotArea  MSSubClass
0     8450          60
1     9600          20
2    11250          60
3     9550          70
4    14260          60

In [14]:
from sklearn.preprocessing import Normalizer

scaler = Normalizer()
scaled_data = scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaled_data, columns = ['LotArea','MSSubClass'])
print(scaled_df.head())

    LotArea  MSSubClass
0  0.999975    0.007100
1  0.999998    0.002083
2  0.999986    0.005333
3  0.999973    0.007330
4  0.999991    0.004208

In [22]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled_data = scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaled_data, columns = df.columns)

print(scaled_df.head())

    LotArea  MSSubClass
0 -0.207142    0.073375
1 -0.091886   -0.872563
2  0.073480    0.073375
3 -0.096897    0.309859
4  0.375148    0.073375

In [20]:
from sklearn.preprocessing import RobustScaler

scaler= RobustScaler()
scaled_data = scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaled_data, columns = df.columns)

print(scaled_df.head())

    LotArea  MSSubClass
0 -0.254076         0.2
1  0.030015        -0.6
2  0.437624         0.2
3  0.017663         0.4
4  1.181201         0.2